/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html {
  height: 100%
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
// Logo on header
header.main {
  text-align: center; //  center on mobile
  @media (min-width: 30em) {
    text-align: left; // align left on screens bigger than 30em
  }
  background: #282;
  margin: 0;
  h1 {
    display: none;
  }
}

// Navigation
.content {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  display: -webkit-flex;
  flex-direction: column; // for mobile layout is horizontal
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;

  @media (min-width: 30em) {
    flex-direction: row; // for desktop layout is vertical
    -webkit-box-orient: vertical;
  }
  nav {
    padding-bottom: 1em;
    background: #141;
    text-align: center; // mobile has centered nav

    @media(min-width: 30em) {
      text-align: left; // desktop is left-aligned
      padding: 1em;
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      @media (min-width: 30em) {
        padding-right: 1em; // give desktop some extra space
      }
      li {
        margin: 0;
        padding: 0.5em;
        text-transform: uppercase;
        letter-spacing: 0.354em;
        a {
          color: #bfb;
          text-decoration: none;
        }
        a:hover {
          background: none;
          color: white;
        }
        p {
          color: #fff;
          font-size: 0.8em;

          @media (min-width: 30em) {
            font-size: 1em;
          }
        }
      }
    }
    main {
      padding: 0.5em;
    }
  }
}

nav.logged_in_nav {
  border-top: solid thin #bfb;
  padding: 0.354em 0;
  margin-top: 0.354em;

  input[type="submit"] {
    // Make the logout button look lik a link
    // so it matches the nav style
    background: none;
    border: none;
    color: #bfb;
    font-size: 1em;
    letter-spacing: 0.354em;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
  }
  input[type="submit"]:hover {
    color: white;
  }
}

.notice, #notice {
  background: #40dd67;
  border-radius: 0.5em;
  color: white;
  font-weight: bold;
  letter-spacing: 0.14em;
  padding: 1.2em;
  text-align: center;
  margin: 1em;
}

// Cart when it appears in the navbar
#cart {
  article {
    h2 {
      margin-top: 0;
    }
    background: white;
    border-radius: 0.5em;
    margin: 1em;
    padding: 1.414em;
    @media (min-width: 30em) {
      margin: 0;
    }
  }
}

